<div class="tender-container">
  <h1>New tender: electricity</h1>
  <div class="sections">
    <div class="d-block section" *ngFor="let section of sections">

      <div class="status" *ngIf="section.title !== 'Review and submit'">
        <span class="badge d-inline-flex" [ngClass]="{
           'success': section.status === 'Completed',
           'inprogess': section.status === 'In Progress',
           'pending': section.status === 'Pending'}">
          <mat-icon class="status-icon">
            {{ getStatusIcon(section.status) }}
          </mat-icon>
          {{ section.status }}
        </span>
      </div>

      <div class="details">
        <h3>{{ section.title }}</h3>
        <div class="d-flex justify-content-between align-items-center">
          <p>{{ section.description }}</p>
          <div class="action">
            <mat-icon>arrow_forward</mat-icon>
          </div>
        </div>
      </div>
    </div>
  </div>