/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
:root {
    --background: #e0e0e0;
    --textPrimary: #2a3447;
    --cardshadow: #e0e0e0;
    --darkcardshadow: #666666;
    --white: #ffffff;
    --primaryButtonColor: #2a3447;
  }